*{
    margin: 0;padding: 0;
}
html,body{width: 100%;height: 100%;
background-image: url(bg.jpg);
    background-size: cover;background-position: center center;background-repeat: repeat-y;
}
.proja{
    text-align: center;
    font-weight: bold;font-size: 35px;color: #FCC400;font-family: 'BenSen', sans-serif;margin-bottom: 30px;
}
.swas img{
    width: 67px;height: 139px;padding: 15px;animation: opa 7s linear infinite;
}
@keyframes opa{
    0%{ opacity: 0.1;}; 50%{ opacity: 1;};100%{ opacity: 0.1;}
}
.party{max-width: 698px;max-height: 297px;}
.party img{width: 100%;height: 100%;background: white;border-radius: 45px;margin-bottom: 20px;margin-top: 20px;}
#fontcss{
    margin-left: 10px;margin-bottom: 15px;color: #FCC400;font-family: 'BenSen', sans-serif;font-size: 23px;
}
.bih{
    text-align: justify;margin-left: 10px;margin-right: 10px;text-indent: 40px;margin-bottom: 40px;color: #FCC400;
    font-family: 'BenSen', sans-serif;font-size: 23px;
}
.nibe{
    margin-right: 10px;text-align: right;color: #FCC400;margin-bottom: 40px;font-family: 'BenSen', sans-serif;font-size: 23px;
    margin-bottom: 30px;
}
.container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
border: 3px solid #EE15E1;
border-radius: 50px;
color: white;
margin: 0 9px;
font-size: 2em;
font-weight: 250;animation: chan 2s linear infinite;   
}
@keyframes chan{
    0%{border: 3px solid #0E51FD;};50%{border: 3px solid #EE15E1};100%{border: 3px solid #0E51FD}
}
.countdown div:before{
    content: '';
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
height: 25px;
background: #8F2EED;
border-radius: 50px;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;animation: wid 5s linear infinite;
}
@keyframes wid{
    0%{width:120px;border-radius: 1px;};50%{width:60px};100%{width:120px}
}
.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
img{
    width: 120px;height: 90px;
}
#dhol img{
    animation: danc 3s linear infinite;
}
@keyframes danc{
    0%{ transform: rotate(15deg);}; 50%{ transform: rotate(5deg);};100%{ transform: rotate(15deg);}
}
#dhol{
    width: 400px;column-count: 3;display: flex;align-items: center;
}
h2{
    text-align: center; color: #FCC400;font-size: 30px
}
.subh{
    text-align: center;color: white;margin-bottom: 20px;font-family: 'BenSen', sans-serif;font-size: 24px;
}
span{font-size: 20px;color: #FCC400;
}
.scene {
  width: 300px;
  height: 400px;  
  margin: 10px 0;
  perspective: 600px;
  
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: white;font-family: 'BenSen', sans-serif;font-size: 22px;
  text-align: center;   
  backface-visibility: hidden;
}

.card__face--front {
  background: #0E51FD;animation: colch 3s linear infinite;
}
@keyframes colch{
    0%{background: #2E68FD;color: #411677;} 50%{background: #0E51FD;color: #EE15E1;} 100%{background: #4B2DFC;color: white;}
}
.card__face--back {
  background: #EE15E1;
  transform: rotateY(180deg);animation: colc 3s linear infinite;
}
@keyframes colc{
    0%{background: #EE41E4;color: #2E68FD;} 50%{background: #EE15E1;color: #411677;} 100%{background: #600A73;color: white;}
}
h3{
    padding: 35px;
}
h4{
    text-align: center;font-size: 20px;color: white;margin-top: 135px;font-weight: bold;background-color: #585757;letter-spacing: 1.5px;

}
footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  

  footer .call{
      width: 130px;
      height: 30px;
      border-radius: 45px;            
      }
     
